doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./css/main.css", attr)
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    script(defer src="js/main.js")
    script(defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
    title LevelUp
  body
    .wrapper
      button.order-btn заказать
    main
      .promo
        .promo__wrapper
          video(autoplay muted loop playsinline).promo__video
            source(src="images/promo-video.mp4" type="video/mp4")
          .promo__presents
              .promo__title LevelUp
              img(src="images/prod.png", alt="image").promo__image
              .promo__characteristics
                ul.promo__list
                  li.promo__item Lorem ipsum dolor sit amet consectetur adipisicing.
                  li.promo__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
                  li.promo__item Lorem ipsum dolor sit amet consectetur adipisicing

      .consist
        .consist__wrapper
          ul.consist__list.list-left
            li.consist__item
              .consist__text
                .title Lorem, ipsum.
                .subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias recusandae corporis ex sit exercitationem!
              img(src="images/consist-1.jpg", alt="image").consist__img.img
            li.consist__item
              .consist__text
                .title Lorem, ipsum.
                .subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias recusandae corporis ex sit exercitationem!
              img(src="images/consist-2.jpg", alt="image").consist__img.img
            li.consist__item
              .consist__text
                .title Lorem, ipsum.
                .subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias recusandae corporis ex sit exercitationem!
              img(src="images/consist-3.jpg", alt="image").consist__img.img
          img(src="images/prod.png", alt="image").consist__product
          ul.consist__list.list-right
            li.consist__item
              img(src="images/consist-4.jpg", alt="image").consist__img.img
              .consist__text
                .title Lorem, ipsum.
                .subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias recusandae corporis ex sit exercitationem!
            li.consist__item
              img(src="images/consist-5.jpg", alt="image").consist__img.img
              .consist__text
                .title Lorem, ipsum.
                .subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias recusandae corporis ex sit exercitationem!
            li.consist__item
              img(src="images/consist-6.jpg", alt="image").consist__img.img
              .consist__text
                .title Lorem, ipsum.
                .subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat molestias recusandae corporis ex sit exercitationem!

      .reviews
        .reviews-swiper
          .swiper-wrapper 
            .swiper-slide 
              img(src="images/consist-1.jpg", alt="image").reviews__img.img
              .reviews__name Mark Ynkovsky
              .reviews__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ratione veritatis inventore, culpa explicabo id?
            .swiper-slide 
              img(src="images/consist-2.jpg", alt="image").reviews__img.img
              .reviews__name Mark Ynkovsky
              .reviews__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, doloribus totam. Tempore necessitatibus voluptate nisi itaque
            .swiper-slide 
              img(src="images/consist-3.jpg", alt="image").reviews__img.img
              .reviews__name Mark Ynkovsky
              .reviews__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quo hic nam deleniti quas eum eos harum totam adipisci recusandae.
   
    script(type="module") import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'; const swiper = new Swiper('.reviews-swiper', {loop: true, autoplay: {delay: 2000},});