doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./css/main.css", attr)
    title LevelUp
  body
  main
    .promo
      .promo__wrapper
        video(autoplay muted loop playsinline).promo__video
          source(src="images/promo-video.mp4" type="video/mp4")
        
        .promo__presents
            .promo__title LevelUp
            img(src="images/prod.png", alt="image").promo__image
            .promo__characteristics
              ul.promo__list
                li.promo__item Lorem ipsum dolor sit amet consectetur adipisicing.
                li.promo__item Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores?
                li.promo__item Lorem ipsum dolor sit amet consectetur adipisicing
        button.order-btn.promo__order-btn заказать
    .product-consist
      .product-consist__wrapper
  script(src="js/main.js")